.home_info_container {
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

.info_view_title {
    border-bottom: 2px solid red;
    line-height: 50px;
    font-weight: 700;
}

.info_view_subtitle {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-style: 15px;
}

.info_view_content {
    padding-top: 20px;
    text-align: justify;
    font-weight: 300;
    padding-bottom: 30px;
    font-size: 17px;
    line-height: 25px;
    font-style: italic;
}

.hyperlien {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.questions {
    font-style: italic;
    border-bottom: 2px solid red;
    line-height: 50px;
}

.reponses {
    text-align: justify;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-style: 15px;
}

.btn {
    font-size: 1em;
    padding: 5px;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: red;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    color: white;
    font-family: 'Nunito';
    box-shadow: 2.5px 3.5px 3px 0px rgb(0 0 0 / 0.25);
    outline: none;
    transition: 0.1s;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 2.5px 3.5px 3px 0px rgb(0 0 0 / 0.15);
}

.btn:active {
    transform: scale(1);
    box-shadow: 2.5px 3.5px 3px 0px rgb(0 0 0 / 0.25);
}

.icone {
    color: white;
}